<h1>Vehicles Aplenty</h1>

<h3>Welcome to Vehicles Aplenty!</h3>

<br>

<p> How can we help you? </p>

<button name="button"><a href="/vehicles">See vehicles</a></button>
<button name="button"><a href="/vehicles/new">Add vehicles</a></button>
